<ion-app>
  <ion-menu side="start" contentId="app-content">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item detail="false" [routerDirection]="'root'" routerLink="/home/login">
            <ion-label>
              <ion-text color="primary"> Login </ion-text>
            </ion-label>
          </ion-item>
          <ion-item detail="false" [routerDirection]="'root'" routerLink="/home/data">
            <ion-label>
              <ion-text color="primary"> my registration data </ion-text>
            </ion-label>
          </ion-item>
          <ion-item detail="false" [routerDirection]="'root'" routerLink="/home/register">
            <ion-label>
              <ion-text color="primary"> Register </ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="app-content"></ion-router-outlet>
</ion-app>