<ion-header>
  <ion-toolbar>
    <ion-title>
      My Registration data
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label>Cpf : {{userData?.cpf}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>My Age : {{userData?.age}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Photo : </ion-label>
    </ion-item>
    <ion-item>
      <ion-img [src]="userData?.photo" id="photo"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label>Name : {{userData?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address : {{userData?.address}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>